rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    function isAdmin() {
      return request.auth != null
        && (
          request.auth.token.email == "leojaime20@gmail.com"
          || firestore.get(/databases/(default)/documents/authorizedUsers/$(request.auth.token.email)).data.role == "admin"
        );
    }

    match /pdfs/{fileName} {
      allow read: if request.auth != null;
      allow write: if isAdmin();
    }
  }
}
